1 ) Write a Python program which accepts the radius of a circle from the user and compute the area.

In [6]:

import math
math .pi


radius = float(input("Enter the radius: "))
area = 3.14 * radius ** 2
print("The area of the circle is:", area)

Enter the radius: 58
The area of the circle is: 10562.960000000001

2) Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

In [5]:
name = input("Enter Name: ")
roll_no = int(input("Enter Roll No: "))
mark = float(input("Enter Mark: "))
print(f"Name: {name}")
print(f"Roll No: {roll_no}")
print(f"Mark: {mark}")

Enter Name: saranya
Enter Roll No: 12
Enter Mark: 56
Name: saranya
Roll No: 12
Mark: 56.0

  3)Write a Python program to get the largest number from a list.

In [ ]:
list = [45, 8, 91, 25]
print(max(list),"is the largest number")

91 is the largest number

4)Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number

In [ ]:

for i in range(1, 11):
    if i == 1:
        print("Current Number", i, "Previous Number", 0, "Sum:", i)
    else:
        print("Current Number", i, "Previous Number", i - 1, "Sum:", i + i - 1)

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5) Write a Python program to print only those numbers which are divisible of 5.

In [ ]:

for num in range(1,25):
  if num%5==0:


    print('number divisible by', num)

number divisible by 5
number divisible by 10
number divisible by 15
number divisible by 20

6)Write a Python program to check whether a number is prime or not.

In [ ]:
num = int(input('enter a positive number '))

for test in range(2,num//2):
 if num%test==0:

   print ('not prime')


else:


      print('prime')

enter a positive number 5
prime

7)Write a Python program to reverse a list using for loop.

In [ ]:
for num in range(70,60,-1):
  print(num)

70
69
68
67
66
65
64
63
62
61

8)Write a Python program to print the following pattern.

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

9. Write a Python program to find the maximum of three numbers

In [ ]:
num1,num2,num3=69,55,41
if num1>num2 and num1>num3:
    print(num1)
elif num2>num1 and num2>num3:
    print(num2)
else:
    print(num3)

 10)Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
  continue
for j in range(1,i-0):
 print("*",end=" ")
print()

for j in range(1,i-1):
 print("*",end=" ")
print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *